<a href="https://colab.research.google.com/github/PedroHudson/PUC_aulas/blob/main/POO_aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Programacao orientada a objetos

# comentario de apenas uma linha
print('Hallo Welt!')

Hallo Welt!

In [2]:
# zen do pythom

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [37]:
# variaveis = definicao e tipos

# declarando 4 variaveis e atribuindo valores a elas
uma_string = 'Aluno'
um_inteiro = 7
um_float = 7.584
um_booleano = True

# imprimindo o valor e o tipo de uma das variaveis
print(um_float)
print(type(um_float))

7.584
<class 'float'>

In [4]:
# convertendo a variavel tipo float para int e para string
print(int(um_float))
print(str(um_float))

7
7.584

In [9]:
# soma, subtracao, multiplicacao, divisao, potenciacao e resto da divisao
resultado_1 = 7 + 5
resultado_2 = um_inteiro - resultado_1
resultado_3 = resultado_2 * 3
resultado_4 = resultado_3 / 4
resultado_5 = 2 ** 4
resultado_6 = 13 % 4

# imprimindo os resultados concatenando uma string com o resultado numerico
print('O resultado da soma = ' + str(resultado_1))
print('O resultado da subtracao =' + str(resultado_2))
print('O resultado da multiplicacao = ' + str(resultado_3))
print('O resultado da divisao = ' + str(resultado_4))
print('O resultado da potenciacao = ' + str(resultado_6))

O resultado da soma = 12
O resultado da subtracao =-5
O resultado da multiplicacao = -15
O resultado da divisao = -3.75
O resultado da potenciacao = 1

In [38]:
# incremento e decremento

# decrementando 2 unidades
um_inteiro -= 3
print('O resultado :' + str(um_inteiro)) 

# incrementando 5 unidades
um_inteiro += 5
print('o resultado :' + str(um_inteiro))

O resultado :4
o resultado :9

In [44]:
# operadores de igualdade

variavel_um = 1
variavel_dois = 2
variavel_tres = 3

print(1 == variavel_um)
print(2 == variavel_um)

equal = (variavel_um == variavel_dois)
not_equal = (variavel_um != variavel_dois)

print('um e igual a dois?' + str(equal))
print('um e diferente de dois?' + str(not_equal))

# operadores de comparacao

print("Um e maior que dois?" + str(variavel_um > variavel_dois))
print('Um e menor que dois?' + str(variavel_um < variavel_dois))

True
False
um e igual a dois?False
um e diferente de dois?True
Um e maior que dois?False
Um e menor que dois?True

In [51]:
# Operadores logicos

print((2 > 1) and (3 < 5))
print((2 > 1) and (1 > 3))

print((3 < 5) or (2 > 1))
print((0 > 1) or (0 == -1))
print((0 < 1) or (o == -1))

True
False
True
False
True

In [53]:
# strings

# concatenacao

programacao = 'Programacao'
oo = 'OO'
programacao_oo = programacao + ' ' + oo
print(programacao_oo)

Programacao OO

In [55]:
# tamanho

print(len(programacao_oo))

14

In [62]:
# indexacao e substrings

frase = 'Python e muito divertido!'

# a indexacao comeca com 0
print(frase[3])

# use -1 para pegar a ultima letra
print(frase[-1])

# use -2 para pegar a penultima letra
print(frase[-2])

# string[start:end] - end nao e incluso
print(frase[:4])
print(frase[10:])
print(frase[:])

h
!
o
Pyth
uito divertido!
Python e muito divertido!

In [64]:
# multiplicacao de uma string por um numero
ola = 'ola'
sete_olas = ola * 7
print(sete_olas)

olaolaolaolaolaolaola

In [67]:
# operador in

programacao_python = 'Programacao em Python'

# checa se a string contem Python
print('Python' in programacao_python)

# checa se a string contem pythonnn
print('pythonnn' in programacao_python)

# checa de a string contem abacate
print('abacate' in programacao_python)

True
False
False

In [69]:
# escaping

print('Estou estudando\n' + programacao_python)

Estou estudando
Programacao em Python

In [72]:
# maiusculas e minusculas
print(programacao_python.lower())
print(programacao_python.upper())
print(programacao_python.capitalize())

programacao em python
PROGRAMACAO EM PYTHON
Programacao em python

In [80]:
# formatacao
Nome = "JujuLau"
Numero_inteiro = 18
Numero_decimal = 1.856

print('Ola, meu nome e %s! Tenho %d anos e %d reais' %(Nome, Numero_inteiro, Numero_decimal)) # float impresso como int
print('Ola, meu nome e %s! Tenho %d anos e %f reais' %(Nome, Numero_inteiro,Numero_decimal)) # float impresso como float
print('Ola, meu nome e %s! Tenho %d anos e %.2f reais' %(Nome, Numero_inteiro, Numero_decimal)) # float impresso como float com duas caas decimais

Ola, meu nome e JujuLau! Tenho 18 anos e 1 reais
Ola, meu nome e JujuLau! Tenho 18 anos e 1.856000 reais
Ola, meu nome e JujuLau! Tenho 18 anos e 1.86 reais

In [83]:
# colecoes

# Listas

numeros = [1, 10, 100, 1000]
print(numeros)

# imprimir o elemento de indice 2 - comeca no 0
print(numeros[2])

[1, 10, 100, 1000]
100

In [91]:
# operacoes com listas

# incluir 2 itens na lista usando +=
numeros += [236, 275]
print(numeros)

# incluir um numero na lista usando append
numeros.append(385)
print(numeros)

# substituir os itens 1 e 2 por 7
# [indice_incluido:indice_excluido]
numeros[1:3] = [7]
print(numeros)

[1, 7, 275, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275]
[1, 7, 275, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385]
[1, 7, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385, 236, 275, 385]

In [92]:
# tuplas

naipes = ('zap', 'copas', 'pica-fumo', 'espada')
print(naipes)

('zap', 'copas', 'pica-fumo', 'espada')

In [96]:
# dicionarios

# criar e imprimir um dicionario

notas = {'Ana':8, 'Maria':5, 'Rita': 7}
print(notas)

# acessar o valor correspondente a chave Rita
print(notas['Rita'])

# incluir novo item
notas ['Carla'] = 10
print(notas)

# remover item
del notas['Rita']
print(notas)

{'Ana': 8, 'Maria': 5, 'Rita': 7}
7
{'Ana': 8, 'Maria': 5, 'Rita': 7, 'Carla': 10}
{'Ana': 8, 'Maria': 5, 'Carla': 10}

In [97]:
# checar se notas contem o item 'Maria'
print('Maria' in notas)

True

In [103]:
# condicoes
nome = 'Julia'
idade = 20

# comando if (condicao se)

if nome == 'Julia': 
  print('Te amo amoi')

if nome == 'Julia' and idade == 20:
  print('Te amo pra sempre tutu')

Te amo amoi
Te amo pra sempre tutu

In [105]:
# comandos if, elif e else

dias = ['samstag', ' sonntag']
if len(dias)== 0:
  print('lista vazia')
elif len(dias)==1:
  print('eine tag')
else:
  print('Das ist wochenende, und wir haben %d Tages' %len(dias))

Das ist wochenende, und wir haben 2 Tages

In [106]:
# Loops

# loop for
for i in range(8):
  print(i)

# a funcao range() pode ser representada de tres formas diferentes:
#range(stop_value): considera o pto inicial como zero
#range(start_value, stop_value): gera a sequencia com base no valor inicial e final
#range(start_value, stop_value, step_size): gere a sequencia incrementando o valot inicial usando o tamanho do passo ate atingir o valor final

0
1
2
3
4
5
6
7

In [107]:
# loop for - outro exemplo
pares = [2,4,6,8]
for i in range(len(pares)):
  print('Indice %d - Valor %d' %(i, pares[i]))

Indice 0 - Valor 2
Indice 1 - Valor 4
Indice 2 - Valor 6
Indice 3 - Valor 8

In [109]:
# loop for usando string

hello_world = 'Hallo Welt!'

# imprimir cada caracter
for ch in hello_world:
  print(ch)

# contar a quantidade de caracteres usando loop
length = 0
for ch in hello_world:
  length += 1
  print('Numero de caracteres: %d' % length)

H
a
l
l
o

W
e
l
t
!
Numero de caracteres: 1
Numero de caracteres: 2
Numero de caracteres: 3
Numero de caracteres: 4
Numero de caracteres: 5
Numero de caracteres: 6
Numero de caracteres: 7
Numero de caracteres: 8
Numero de caracteres: 9
Numero de caracteres: 10
Numero de caracteres: 11

In [114]:
# loop while
numero = 1

# imprimir de 1 a 7
while numero <=7:
  print(numero)
  numero += 1

1
2
3
4
5
6
7

In [115]:
# imprimir os quadrados menores que 25
numero = 1
quadrado = 1

while quadrado <= 24:
  quadrado = numero ** 2
  print('Numero %d - Quadrado %d' % (numero, quadrado))
  numero += 1

print('Ao sair do while, numeor tem o valor de %d' % numero)

Numero 1 - Quadrado 1
Numero 2 - Quadrado 4
Numero 3 - Quadrado 9
Numero 4 - Quadrado 16
Numero 5 - Quadrado 25
Ao sair do while, numeor tem o valor de 6

In [119]:
# break 

count = 0

# loop infinito - nunca e False
while True:
  print(count)
  count += 1
  if count >=5:
    break # sai do loop

0
1
2
3
4

In [120]:
naipes = ['copeta', 'pica-fumo', 'espadilha', 'zap']

# loop infinito - nunca e False
while True:
  #pop(): retira e retorna o ultimo item da lista 
  elemento = naipes.pop()
  print(elemento)
  if elemento =='espadilha':
    break

zap
espadilha

In [131]:
# continue
 
for i in range(5):
  if i == 3:
    continue # pula o resto do codigo e move para a proxima interacao do loop
  print(i)

0
1
2
4

In [132]:
# imprimir somente os impares
for x in range (10):
  if (x % 2) ==0: # e par
  # pula print(x) para este loop
    continue
  print('Numero %d'%x)

Numero 1
Numero 3
Numero 5
Numero 7
Numero 9

In [134]:
# Funcoes

# definir uma funcao chamada ola mundo 
def ola_mundo():
  print('Hello, World!')
  print('Hallo, Welt!')
  print('Salut, Monde!')
  print('Hola, Mundo!')

# chamar a funcao 3 vezes
for i in range(3):
  ola_mundo()

Hello, World!
Hallo, Welt!
Salut, Monde!
Hola, Mundo!
Hello, World!
Hallo, Welt!
Salut, Monde!
Hola, Mundo!
Hello, World!
Hallo, Welt!
Salut, Monde!
Hola, Mundo!

In [135]:
# funcoes com parametros

# x e um parametro
def uma_funcao(x):
  print('X = %d' % x)

# passar 5 para a funcao, aqui 5 e um argumento passado para a funcao
uma_funcao(5)

X = 5

In [136]:
# funcoes com retorno

# funcao que retorna a soma de dois numeros
def soma(a,b):
  return a + b

c = soma(7,5)
print('c = %d' % c)

c = 12

In [142]:
# funcao com parametros default (padrao)

def multiplica (a, b=2):
  return a * b

print(multiplica(5,84))
print(multiplica(7))

420
14